body{
  text-align: right;
  direction: rtl;
  background-color: 	#FFFAFA;

}
.header-group{
    text-align: right;
    direction:rtl;
    border-bottom: .018px solid #e2c7c7;
    margin-right: 10px;
    padding-right: 10px;
    font-family: samim;
    background-color: #D3D3D3;
    height: 50px;
    align-content: center;
}

.ui-image{
    width: 153px;
    height: 153px;
}

@font-face {
  font-family: samim;
  src: url(./font/Samim-FD.ttf);
}
