body{
  text-align: right;
  direction: rtl;
  background-color: 	#FFFAFA;

}
.header{
  border-bottom: .018px solid #e2c7c7;
  margin-right: 10px;
  padding-right: 10px;
  font-family: samim;
  background-color: #D3D3D3;
}

@font-face {
  font-family: samim;
  src: url(./font/Samim-FD.ttf);
}
.headerLeft{
  direction: ltr;
  margin-left: 10px;
  top: 5px;
}
.headerLeft,.headerRight{
  height: 50px;
  justify-content: space-between;
}
.list-group-category{
  margin-top: 5px;
  margin-right: 10px;
  width:150px;
  border-radius: 0px;
  text-align: right;
  direction: rtl;
}
.list-group-item-light{
  font-family: samim;
  border-radius: 0px;
  border-left: none;
  border-right:  none;
}
.MenuRight{
  border-left: 3px solid #e2c7c7;
  border-top-left-radius: 3px;
  border-spacing: inherit;
  margin-right: 10px;
}
.search-form{
  display: flex;

}
.nav{
  display: flex;
}
.card-search{
  font-family: samim;
  background-color: #F0FFF0;
  top: 50px;
  margin-right: 60px;
  height: 130px;
  width: auto;
  border: 1px solid #e2c7c7;
  border-radius: 3px;
}
.bottom-search{
  margin-top: 85px;
}
